.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.line-height_1-15 {
  line-height: 1.15;
}
.line_height_1-2 {
  line-height: 1.2;
}
.line_height_25px {
  line-height: 25px;
}
.line_height_30px {
  line-height: 30px;
}
.line_height_34px {
  line-height: 34px;
}
.line_height_51px {
  line-height: 51px;
}
.line_height_96px {
  line-height: 96px;
}
.font-size_18px {
  font-size: 18px;
}
.font-size_24px {
  font-size: 24px;
}
.font-size_36px {
  font-size: 36px;
}
.font-size_60px {
  font-size: 60px;
}
.font-size_102px {
  font-size: 102px;
}
.font-size_120px {
  font-size: 120px;
}
.font-weight_600 {
  font-weight: 600;
}
.font-weight_normal {
  font-weight: normal;
}
.link-color_hover:hover {
  color: #699ada;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.logo {
  background-image: url('../images/logo_place_header.svg');
  width: 228px;
  height: 32px;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  z-index: 4;
}
.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 3;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 179px;
  color: #2f80ed;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  margin: 0;
}
.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px auto;
}
.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px 0;
}
.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto 20px auto;
}
.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.table__cell {
  display: flex;
  flex-direction: column;
}
.table__cell_place_digits {
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  margin: 0;
}
.table__text {
  margin: 20px auto 0 0;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  width: 648px;
  margin: 100px auto 70px;
  z-index: 2;
}
.feynman__subtitle {
  margin: 0;
  text-align: center;
  z-index: 1;
}
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  z-index: 3;
}
.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.kaufman {
  padding: 90px 0px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: -2;
}
.section-title_place_kaufman {
  color: white;
}
.section-subtitle_place_kaufman {
  color: white;
}
.table__cell_place_kaufman {
  color: white;
  margin-top: 80px;
  width: 200px;
}
.triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  /* border-color: transparent transparent #2f80ed transparent;
  border-style: solid;
  border-width: 0px 300px 500px 300px;
  height: 0px;
  width: 0px;
  transform: rotate(-15deg); */
  background-image: url('../images/triangle.svg');
  z-index: -1;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.footer__columns {
  margin: 60px auto 40px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}
.footer__column-heading {
  margin: 0 auto 0 0;
  color: white;
}
.footer__column-links {
  margin: 20px auto 16px 0;
  padding: 0;
  list-style: none;
}
.footer__column-link {
  text-decoration: none;
  color: white;
}
.logo_place_footer {
  position: static;
  background-image: url('../images/logo_place_footer.svg');
}
.footer__author {
  position: static;
  margin: 18px auto 18px 0;
  color: white;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: auto 10px auto 0;
}
